<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}{% endblock %} - tomcant</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/app/css/main.css') }}" type="text/css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <header id="header" class="clearfix">
                <nav id="nav">
                    <ul>
                        <li class="{% if app.request.attributes.get('_route') == 'home' %}is-active{% endif %}">
                            <a href="{{ path('home') }}">home</a>
                        </li>
                        <li class="{% if app.request.attributes.get('_route') == 'contact' %}is-active{% endif %}">
                            <a href="{{ path('contact') }}">contact</a>
                        </li>
                    </ul>
                </nav>

                <div id="heading">
                    <h1><em>Tom Cant</em></h1>
                </div>
            </header>

            <div id="content">
                {% set messages = app.session.flashbag.all %}

                {% if messages is not empty %}
                    <div class="messages">
                        {% for label, flashes in messages %}
                            <ul class="{{ label }}">
                                {% for flash in flashes %}
                                    <li>{{ flash }}</li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </div>
                {% endif %}

                {% block body %}{% endblock %}
            </div>

            <footer id="footer">
                &copy; Tom Cant 2009 - {{ "now"|date("Y") }}
            </footer>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
